mat-card {
  position: absolute;
  max-width: 500px;
  left: 35%;
  height: 100%;
  transform: translate(-50%, 0);
}

form {
  display: flex;
  flex-direction: column;
  width: 450px;
}

div{
  //display: inline-flex;
  background: white;
  height: 100%;
  width: 100%;
}

.mat-form-field{
  margin-top: 5px;
  margin-bottom: 5px;
}

span{
  position: absolute;
  left: calc(18% + 600px);
  display: flex;
  height: 100%;
}
