<mat-card>
  <p>Create a new bug</p>
  <mat-card-content>
    <form #form="ngForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <input matInput
               [(ngModel)]="bug.title"
               #title="ngModel"
               placeholder="Title"
               id="title"
               name="title"
               required>
        <mat-error *ngIf="title.touched && title.invalid">Required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput
               [(ngModel)]="bug.version"
               #version="ngModel"
               id="version"
               name="version"
               required
               pattern="[0-9a-z\.]*"
               placeholder="Version">
        <mat-error *ngIf="version.errors?.required">Required</mat-error>
        <mat-error *ngIf="version.errors?.pattern">Alphanumerical characters divided by dots</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput
               [(ngModel)]="bug.severity"
               #severity="ngModel"
               id="severity"
               name="severity"
               required
               placeholder="Severity">
        <mat-error *ngIf="version.errors?.required">Required</mat-error>
        <mat-error *ngIf="version.errors?.pattern">Alphanumerical characters divided by dots</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput
               [(ngModel)]="bug.createdBy"
               #createdBy="ngModel"
               id="created_by"
               name="created_by"
               required
               placeholder="Created By">
        <mat-error *ngIf="version.errors?.required">Required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput
               [(ngModel)]="bug.assignedTo"
               #createdBy="ngModel"
               id="assigned_to"
               name="assigned_to"
               required
               placeholder="Assigned to">
        <mat-error *ngIf="version.errors?.required">Required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput
               [ngModel]="bug.targetDate"
               #date="ngModel"
               id="date"
               name="date"
               required
               [matDatepicker]="picker"
               placeholder="Target date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="version.errors?.required">Required</mat-error>
      </mat-form-field>
      <mat-form-field>
      <textarea matInput
                [(ngModel)]="bug.description"
                #description="ngModel"
                id="description"
                name="description"
                cols="10"
                rows="10"
                placeholder="Description"></textarea>
        <mat-error *ngIf="version.errors?.required">Required</mat-error>
      </mat-form-field>
      <button mat-raised-button class="save" color="primary" type="submit">Save</button>
    </form>
  </mat-card-content>
</mat-card>

