<mat-card>
  <form #form="ngForm" (ngSubmit)="submit(form)">
    <mat-form-field>
      <input matInput
             [(ngModel)]="user.firstName"
             id="firstName"
             name="firstName"
             placeholder="First Name"
             #firstName>
      <mat-error></mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput
             [(ngModel)]="user.lastName"
             id="lastName"
             name="lastName"
             placeholder="Last Name"
             #lastName>
    </mat-form-field>

    <mat-form-field>
      <input matInput
             [(ngModel)]="user.mobileNumber"
             id="mobileNumber"
             name="mobileNumber"
             placeholder="Mobile Number"
             #mobileNumber>
    </mat-form-field>

    <mat-form-field>
      <input matInput
             [(ngModel)]="user.email"
             id="email"
             name="email"
             placeholder="Email"
             #email>
    </mat-form-field>

    <mat-form-field>
      <input matInput
             [(ngModel)]="user.roles"
             id="roles"
             name="roles"
             placeholder="Roles"
             #roles>
    </mat-form-field>
  </form>
</mat-card>
