.row {
  width: 100%;
  /*margin: 0 auto;*/
  //text-align: center;
}
.block {
  width: 50%;
  /*float: left;*/
  display: inline-block;
  //zoom: 1;
}
text,
.highcharts-credits{
  display: none;
  background: red;
  color: green;
}

#highcharts-2ejbh5w-0 text{
  color: green;
}
