.mat-drawer-container {
  top: 64px;
  position: relative;
  height: calc(100% - 64px);
  background: #eeeeee;
  width: 100%;
}

.mat-drawer {
  width: 15%;
  top: 64px;
  position: fixed;
  background: #eeeeee;
}

span {
  flex: 1 1 auto;
}

.mat-toolbar {
  top: 0;
  position: fixed;
  z-index: 1000;
  height: 8vh;
}
