<mat-card>
  <p>Edit the current bug</p>
  <mat-card-content>
    <form #form="ngForm" (ngSubmit)="edit()">
      <mat-form-field>
        <input matInput
               [(ngModel)]="bug.title"
               #title="ngModel"
               id="title"
               name="title"
               placeholder="Title">
        <mat-error *ngIf="title.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput
               [(ngModel)]="bug.version"
               #version="ngModel"
               id="version"
               name="version"
               placeholder="Version">
      </mat-form-field>
      <mat-form-field>
        <input matInput
               [(ngModel)]="bug.fixedVersion"
               #revision="ngModel"
               id="revision"
               name="revision"
               placeholder="Revision">
      </mat-form-field>
      <mat-form-field>
        <input matInput
               [(ngModel)]="bug.severity"
               #severity="ngModel"
               id="severity"
               name="severity"
               placeholder="Severity">
      </mat-form-field>
      <mat-form-field>
        <input matInput
               [(ngModel)]="bug.assignedTo"
               #createdBy="ngModel"
               id="assigned_to"
               name="assigned_to"
               placeholder="Assigned To">
      </mat-form-field>
      <!--<h4>Status</h4>
      <mat-form-field>
        <mat-label>Bug Status</mat-label>-->   <!--place holder-ul-->
      <!--  <mat-select>
          <mat-option *ngFor="let status of bugStatus" [value]="status">
            {{status}}
          </mat-option>
        </mat-select>
      </mat-form-field> -->
      <app-bug-status [currentStatus]="bug.status"></app-bug-status>

      <mat-form-field>
      <textarea matInput
                [(ngModel)]="bug.description"
                #title="ngModel"
                id="description"
                name="description"
                cols="10"
                rows="10"
                placeholder="Description"></textarea>
      </mat-form-field>

      <button mat-raised-button class="save" color="primary" type="submit">Edit</button>
    </form>
  </mat-card-content>
</mat-card>

<p>
  {{form.value|json}}
</p>

