mat-card {
  max-width: 500px;
  height: 700px;
}

form {
  display: flex;
  flex-direction: column;
  width: 450px;
}

mat-cell, .mat-cell {
  min-width: 500px !important;
  padding: 40px;
  margin: 40px;
  display: inline-block;
}

td {
  min-width: 500px !important;
  padding: 40px;
  display: inline-block;
  margin-left: 20px;
}

a:before {
  width: 20px;
  margin-left: 20px;

}
