mat-card {
  position: absolute;
  max-width: 500px;
  left: 30%;
  height: 100%;
  transform: translate(-50%, 0);
}

form {
  display: flex;
  flex-direction: column;
  width: 450px;
}

td {
  min-width: 500px !important;
  display: inline;
  margin-left: 20px;
}

span{
  position: absolute;
  left: calc(18% + 600px);
}

mat-placeholder {
  font-size: 16px;
  font-weight: bold;
  color: #7a2cff;

}
