<mat-card>
  <p>Edit the current bug</p>
  <mat-card-content>
    <form #form="ngForm" (ngSubmit)="edit()">
      <mat-form-field>
        <input matInput
               [(ngModel)]="bug.title"
               #title="ngModel"
               id="title"
               name="title"
               placeholder="Title">
        <mat-error *ngIf="title.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput
               [(ngModel)]="bug.version"
               #version="ngModel"
               id="version"
               name="version"
               placeholder="Version">
      </mat-form-field>
      <mat-form-field>
        <input matInput
               [(ngModel)]="bug.fixedVersion"
               #revision="ngModel"
               id="revision"
               name="revision"
               placeholder="Revision">
      </mat-form-field>
      <!--<mat-form-field>
         <input matInput
                [(ngModel)]="bug.severity"
                #severity="ngModel"
                id="severity"
                name="severity"
                placeholder="Severity">
       </mat-form-field> -->
      <mat-form-field>
        <input matInput
               [(ngModel)]="bug.assignedTo"
               #createdBy="ngModel"
               id="assigned_to"
               name="assigned_to"
               placeholder="Assigned To">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Status</mat-label>
        <mat-select [(ngModel)]="bug.status"
                    name="status"
                    id="status"
                    #status="ngModel"
                    required>
          <mat-option *ngIf="bug" [value]="bug.status" selected>{{bug.status}}</mat-option>
          <mat-option *ngFor="let status of bugStatusList" [value]="status">{{status}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Severity</mat-label>
        <mat-select [(ngModel)]="bug.severity"
                    name="severity"
                    id="severity"
                    #status="ngModel"
                    required>
          <mat-option *ngIf="bug" [value]="bug.severity" selected>{{bug.severity}}</mat-option>
          <mat-option *ngFor="let severity of severity" [value]="severity">{{severity}}</mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button class="save" color="primary" type="submit">Edit</button>
    </form>
  </mat-card-content>
  <p>
    {{form.value|json}}
  </p>
</mat-card>


