
.full{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom	: 200px;
  padding-left		: 800px;
  padding-right		: 800px;
  padding-top		: 300px;
  background: azure;
}
