<form #formElement='ngForm' (ngSubmit)="submit(formElement)">
  <!--
  <div ngModelGroup="user" #user="ngModelGroup">

    <div class="form-group">
      <label for="firstName1"> First Name Group</label>
      <input class="form-control"
             type="text"
             id="firstName1"
             name="firstName1"
             required
             (ngModelChange)="log(firstName)"
             #firstName1="ngModel"
             ngModel
             pattern="banana"
             style="max-width: 400px">
      <div class="alert alert-danger" *ngIf="firstName1.touched && firstName1.invalid" style="max-width: 200px">
        <div *ngIf="firstName1.errors?.required">The field is required!</div>
        <div *ngIf="firstName1.errors?.pattern">The pattern is invalid</div>
      </div>
    </div>

    <div class="form-group">
      <label for="lastName1"> Last Name Group </label>
      <input class="form-control"
             type="text"
             id="lastName1"
             name="lastName1"
             required
             (ngModelChange)="log(lastName)"
             #lastName1="ngModel"
             ngModel
             style="max-width: 400px">
      <div class="alert alert-danger" *ngIf="lastName1.touched && lastName1.invalid" style="max-width: 200px">Last name is required</div>
    </div>
    <button class="btn btn-success">Submit</button>
  </div>
<br>
-->
  <div class="form-group">
    <label for="firstName"> FirstName </label>
    <input class="form-control"
           type="text"
           id="firstName"
           name="firstName"
           required
           (ngModelChange)="log(firstName)"
           #firstName="ngModel"
           ngModel
           pattern="[+]40{1}[0-9]{9}"
           style="max-width: 400px">
    <div class="alert alert-danger" *ngIf="firstName.touched && firstName.invalid" style="max-width: 200px">
      <div *ngIf="firstName.errors?.required">The field is required!</div>
      <div *ngIf="firstName.errors?.pattern">The pattern is invalid</div>
    </div>
  </div>

  <div class="form-group">
    <label for="lastName"> Last Name </label>
    <input class="form-control"
           type="text"
           id="lastName"
           name="lastName"
           required
           (ngModelChange)="log(lastName)"
           #lastName="ngModel"
           ngModel
           style="max-width: 400px">
    <div class="alert alert-danger" *ngIf="lastName.touched && lastName.invalid" style="max-width: 200px">Last name is required</div>
  </div>

  <div class="form-group">
    <label>Comment</label>
    <textarea
      id="commment"
      type="textarea"
      class="form-control"
      style="max-width: 600px"
      ngModel
    ></textarea>
  </div>

  <div class="form-group">
    <label>
      <input type ="checkbox" name="isSelected" ngModel>
    Selection</label>
  </div>



  <div class="radio" *ngFor="let hob of hobbies">
    <label>
      <input type ="radio"
             name="hobbies1"
             [value]="hob.id"
             ngModel
      >
      {{hob.name}}
    </label>
  </div>

  <div class="form-group">
    <label for="hobbies">
        Hobbies Dropdown
    </label>
    <select
      multiple
      class="form-control"
      id="hobbies"
      name="hobbies"
      ngModel>
      <option *ngFor="let hob of hobbies" [value]="hob.id">{{hob.name}}</option>
    </select>
  </div>

  <p>
    {{text1|uppercase}}
  </p>
  <p>
    {{text2|summary}}
  </p>

  <button class="btn btn-success"
          [disabled]="formElement.invalid"
  >Submit</button>
  <p>
    {{formElement.value|json}}
  </p>
</form>

<form #course='ngForm'>
  <div class="form-group">
    <label>Course Name</label>
    <input class="form-control"
           type="text"
           id="name"
           name="name"
           required
           ngModel
           #courseName="ngModel">
    <div class="alert alert-danger" *ngIf="courseName.touched && courseName.invalid">
      Course name is required
    </div>

    <label>Categories</label>
    <select
      class="form-control"
      id="Categories"
      name="Categories"
      #cat="ngModel"
      ngModel>
      <option *ngFor="let c of categories" [value]="c.name">{{c.name}}</option>
    </select>
    <div class="alert alert-danger" *ngIf="cat.touched && courseName.invalid">
      Choose a category
    </div>

    <div>
      <label>
        <input type="checkbox" name="hasGuarantee" ngModel>
        30-day money-back guarantee</label>
    </div>

  <div>
    {{course.value|json}}
  </div>

  <button class="btn btn-success"
          [disabled]="course.invalid"
  >Create</button>

  </div>
</form>
