The content below is only a placeholder and can be replaced.
<div style="text-align:center">
  <h1>
    Welcome {{ titleApp }}!
  </h1>
  <app-user-list (output)="alertUserFromList($event)"></app-user-list>
<!--  <app-user (output)="alertUserFromList($event)" [user]="newUser" #userComponent></app-user>-->
<!--  <button appJumper (click)="alertUserChildComponent()">Alert user from child component</button>-->
<!--  <br>-->
<!--  <br>-->
<!--  <button appButtonDisable [role]="newUser.roles">Close Bug</button>-->
</div>
<!--<nav>-->
<!--  <a routerLinkActive="active curret" routerLink="/users">User</a>-->
<!--  <a routerLinkActive="active curret" routerLink="/bugs">Bugs</a>-->
<!--</nav>-->

  <router-outlet></router-outlet>




<!--<app-user-management></app-user-management>-->

